@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

html {
	height: 100%;
}

body {
	min-height: 100%;
}

body {
	display: flex;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 3em;
	text-align: center;
	opacity: .8;
	order: 1;
}

h1 small {
	display: inline-block;
}

.site {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin: 0 auto;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/* .site {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
  align-items: center;
	flex-direction: column;
	margin: 0 auto;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
} */


/* .sketch {
	position: relative;
	height: 400px;
	min-width: 400px;
	margin: 0;
	overflow: visible;
	order: 2;
	
} */



.button {
	display: block;
	float: right;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	margin-left: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

  @media (max-width: 991px)
  {
	.container .button {
		position: relative;
		display: inline-flex;
		text-align: center;
		justify-content: center;
		justify-self: center;
		/* -ms-transform: translateX(-50%);
  		transform: translateX(-50%); */
	}
	.site {
		flex-direction: column-reverse;
		padding: 1em 3em 1em 0em;
	}
	
	h1 {
		text-align: right;
		order: 2;
		padding-left: 2em;

	}
	
	.sketch {
		order: 1;
	}
}


/* @media only screen and (min-width: 780px) {
  .site {
		flex-direction: row;
		padding: 1em 3em 1em 0em;
	}
	
	h1 {
		text-align: right;
		order: 2;
		padding-left: 2em;

	}
	
	.sketch {
		order: 1;
	}
	.container .button {
		position: relative;
		display: inline-flex;
		text-align: center;
		justify-content: center;
		justify-self: center;
		/* -ms-transform: translateX(-50%);
  		transform: translateX(-50%); */
	



