@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #383838;
}
body {
    background-size: cover;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 124px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}

header::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -1;
    background-color: #FFFFFF;
    opacity: 50%;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #00000046;
    transition: 00.5s;
    
}

header .portfolio
{
    color: #383838;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul li {
    position: relative;
    list-style: none;
    margin-right: 20px;
    display: inline-block;

}

header ul li::after {
    content: "";
    position: absolute;
    display: flex;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -1;
    background-color: #000000;
    opacity: 10%;
    border-bottom-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #00000046;  
    
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 5px 15px;
    color: #383838;
    text-decoration: none;   
}

a {
    text-decoration: none;
}
.banner {
    position: relative;
    min-height: 100vh;
    background: url(/src/img/bg_opt.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 250px;
}

h2 {
    font-size: 52px;
}


h3 {
    font-size: 32px;
    
}

.btn {
    position: relative;
    background:#76B9DA;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    margin-right: 150px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 15px;
    
}

.btndark {
    display: none;
}

header.sticky::before {
    opacity: 100%;

    transition: 300ms ease-in-out;

}

header.sticky {
    color: #000000;
    padding: 20px 124px;
}

.abouttxt {
    text-align: center;
    font-size: 47px;
    justify-content: center;
    padding-bottom: 50px;
}

.aboutbody {
    padding-top: 100px;
    display: flex;
    
}

.aboutimg {
    margin-right: 100px;
    width: 100%;
    height: 100%;
}

.about {
    padding: 200px;
}

.title {
    font-size: 28px;
    margin-bottom: 50px;
}

.titleabout {
    justify-content: center;
    margin-top: 50px;
}

.aboutdesc {
    font-size: 20px;
}

.projectstxt {
    text-align: center;
    font-size: 47px;
    justify-content: center;
    padding-bottom: 50px;
}

.projectsbody {
    padding-top: 100px;
    display: flex;
    
}

.projects {
    padding: 200px;
}

.title {
    font-size: 28px;
    margin-bottom: 50px;
}

.titleprojects {
    justify-content: center;
}


/* img {
    margin-right: 100px;
    width: 100%;
    height: 100%;
} */

.projectsdesc {
    font-size: 20px;
}


.bouton-discover {
    display: inline;
    float: left;
    text-align:center;
    align-items: flex-end;
    justify-content: center;
}

.textBox {
    display: inline;
    float: left;
}

.projects
{
    background: #f6f6f6;
}

.heading.white
{
    color: #fff;
}
.projects .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.projects .content img {
    border-radius: 25px;
    /* max-width: 250px;
    max-height: 250px; */
    width: 300px;
    height: 300px;
    margin: 0;
    z-index: 2000;
}
.projects .content .projectsBox
{
    padding: 20px 20px 60px 20px;
    background: rgb(216, 216, 216);
    border-radius: 200px;
    max-width: 340px;
    color: #333333;
    margin: 20px;
    text-align: center;
    transition: 0.25s;
}

.projects .content .projectsBox p
{
margin-bottom: 20px;
}
.projects .content .projectsBox:hover
{
   background: rgb(216, 216, 216);
   box-shadow: rgb(241, 241, 241) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.projects .content .projectsBx h2
{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.switch {
    position: relative;
    margin-right: 20px;
    z-index: 555;
    display: flex;
    width: 60px;
    height: 34px;


  }
  
 
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    display: flex;
    top:0;
    right: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color : rgba(0,0,0,0.1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
    
  }

  input:checked + .slider {
    background-color: #2196F3;
    
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    background: url(../img/darkimg.png);
    margin-bottom: -1.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.301);
    background-position: cover;
    background-size: 25px;
    margin-right: 10px;
  }

  .switchresp{
    display: none;

}
 
  .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .dmca-badge {
        width: 150px;
        height: 30px;
        margin-right: 10px;
    }


@media (max-width: 991px)
{
    header, header.sticky
    {
        padding: 10px 20px;
        z-index: 1000;
    }
    header ul li a
    {
        font-size: 24px;
        margin: 10px;
        color: #fff;
    }

    header ul li::after {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        z-index: -1;
        background-color: #76B9DA;
        opacity: 50%;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #000000;
        transition: 00.5s;
        
    }

    .switch {
        display: none !important;
      }

    .switchresp {
        display: flex !important;
        position: fixed;
        margin-right: 80px;
        right: 0px;
        z-index: 555;
        width: 60px;
        height: 34px;
      }

       
  .switchresp input {
    opacity: 0;
    width: 0;
    height: 0;
    display: flex;
    top:0;
    right: 0;
  }

      

    .menu
    {
        position: fixed;
        top: 60px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.900);
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active
    {
        left: 0;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url('/src/img/menu.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px;
        cursor: pointer;
    }
    .toggle.active
    {
        width: 40px;
        height: 40px;
        background: url('/src/img/close.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px;
        cursor: pointer;
    }
    section
    {
        padding: 10px 50px;
    }
    .about
    {
        padding: 10px 50px;
    }
    .projects
    {
        padding: 10px 50px;
    }
    .aboutimg{
        width: 85%;
        margin: 0;
    }
    .aboutbody {
        display: 
        block;
    }

    .aboutsectxt {
        margin-top: 25px;
    }
    .projectsbody {
        display: 
        block;
    }

    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;

        padding: 10px 20px;
        font-size: 16px;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }


   
    .abouttxt {
        font-size: 30px;
    }

    .projectstxt {
        font-size: 30px;
    }



    .bouton-discover {
        position: relative;
        display: flex;
        margin-right: 5px;
        overflow: auto;
        flex-wrap: wrap;
    }

    
}

@media (max-width: 600px)
{
    header,
    header.sticky
    {
        padding: 20px 20px;
    }
    .banner
    {
        padding: 150px 20px 100px;
    }
    section
    {
        padding: 100px 20px;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }